---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <img
    src="https://images-cdn.ubuy.co.id/65543f20c7182211124c90a2-hyper-bicycles-18-jet-fuel-bmx-bike-for.jpg"
    alt=""
    style="width: 200px"
  />
  <h1>Ini halaman homepage</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus,
    sunt? Iusto saepe, fugiat debitis amet corporis officiis cum ut illum?
  </p>
</Layout>
