---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <nav class="flex justify-between">
      <p>Navigasi menu</p>

      <ul class="flex gap-2">
        <li><a href="/">Home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/works">work</a></li>
      </ul>
    </nav>
    <slot />
    <footer>Footer space</footer>
  </body>
</html>

<style>
  nav {
    background-color: black;
    color: white;
    height: 80px;
    font-size: 20px;
  }

  footer {
    background-color: black;
    height: 300px;
    color: white;
    font-size: 40px;
  }
</style>

<script>
  const navbar = document.querySelector("nav");
  navbar.addEventListener("click", () => alert("Navbar diklik"));
</script>
